@import "../../index.scss";

.navbar {
  padding: 0.5rem 1rem;
  border-bottom: 2px solid $mainLight;
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr 1fr;
}
.nav-links {
  align-self: center;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  justify-content: space-around;
}
.nav-link {
  color: $mainGreen;
  padding: 0 0.5rem;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.3s linear;
  &:hover {
    color: $mainWarm;
  }
  font-family: "Righteous", cursive;
}
#logo {
  border-radius: 0.7rem;
  background: $mainGreen;
}
