body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
}

$mainColor: rgb(106, 116, 147);
$mainWarm: #60220f;
$mainGreen: #49a510;
$mainLight: #789b0f;
$secondaryLight: rgba(106, 116, 147, 0.2);
$mainGrey: #9e1163;
