body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
}

$mainColor: rgba(103, 163, 6, 0.63);
$mainWarm: #60220f;
$mainGreen: rgba(103, 163, 6, 1);
$mainLight: rgba(103, 163, 6, 0.3);
